<h1 mat-dialog-title class="dialog-title">Editer {{ trainData.trainName }}</h1>
<div mat-dialog-content>
  <form [formGroup]="editTrainForm" class="form-container">
    <div class="form-group">
      <label for="status">Status:</label>
      <select formControlName="status" class="form-control">
        <option value="Annulé">Annulé</option>
        <option value="Retard">En retard</option>
      </select>
    </div>
    <div *ngIf="!isOnTime" class="form-group">
      <label for="delayTime">Temps de retard (minutes):</label>
      <input formControlName="delayTime" type="text" class="form-control" />
    </div>
    <div *ngIf="!isOnTime" class="form-group">
      <label for="delayReason">Raison du retard:</label>
      <input type="text" class="form-control" />
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="cancel-button">Abandon</button>
  <button
    mat-button
    color="primary"
    (click)="saveChanges()"
    [disabled]="!editTrainForm.valid"
    class="save-button"
  >
    Sauvegarder
  </button>
</div>
