<h1 mat-dialog-title>Editer {{ trainData.trainName }}</h1>
<div mat-dialog-content>
  <form [formGroup]="editTrainForm">
    <div>
      <label for="status">Status:</label>
      <select formControlName="status" (change)="toggleDelay()">
        <option value="Annulé">Annulé</option>
        <option value="En retard">En retard</option>
      </select>
    </div>
    <div>
      <label for="delayTime">Temps de retard (minutes):</label>
      <input formControlName="delayTime" [disabled]="!isDelayed" type="text" />
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abandon</button>
  <button
    mat-button
    color="primary"
    (click)="saveChanges()"
    [disabled]="!editTrainForm.valid"
  >
    Sauvegarder
  </button>
</div>
