<div class="card">
  <table class="ticket-table">
    <caption>
      <div class="flex align-items-center justify-content-between">
        <h1>TRAINS</h1>
      </div>
    </caption>
    <thead>
      <tr>
        <th>Train</th>
        <th>Lieu de départ</th>
        <th>Heure de départ</th>
        <th>Lieu d'arrivée</th>
        <th>Heure d'arrivée</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trajet of trajets">
        <td>{{ trajet.trainName }}</td>
        <td>{{ trajet.specs.departLieu }}</td>
        <td>{{ trajet.specs.departHeure }}</td>
        <td>{{ trajet.specs.arriveeLieu }}</td>
        <td>{{ trajet.specs.arriveeHeure }}</td>
        <td>{{ trajet.status }}</td>
        <td>
          <button
            *ngIf="!isStaffPage()"
            class="purchase-button"
            (click)="openConfirmationModal(trajet)"
          >
            Réserver
          </button>
          <button
            class="purchase-button"
            *ngIf="isStaffPage()"
            (click)="openEditTrainModal(trajet)"
          >
            Editer
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">Il y a {{ trajets.length }} trajets prévus.</td>
      </tr>
    </tfoot>
  </table>
</div>
