<div class="card">
  <table class="ticket-table">
    <caption>
      <div class="flex align-items-center justify-content-between">
        <h1>TRAINS À L'APPROCHE</h1>
      </div>
    </caption>
    <thead>
      <tr>
        <th>Train</th>
        <th>Lieu de départ</th>
        <th>Heure de départ</th>
        <th>Lieu d'arrivée</th>
        <th>Heure d'arrivée</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trajet of trains">
        <td>{{ trajet?.nom_train }}</td>
        <td>{{ trajet?.gare_depart }}</td>
        <td>{{ trajet?.depart_heure }}</td>
        <td>{{ trajet?.gare_arrivee }}</td>
        <td>{{ trajet?.arrivee_heure }}</td>
        <td>
          <span
            [ngClass]="{
              warning: trajet?.status === 'Warning',
              danger: trajet?.status === 'Danger',
              success: trajet?.status === 'Success'
            }"
          >
            {{ trajet?.status }}
          </span>
        </td>
        <td>
          <button
            *ngIf="!isStaffPage()"
            class="purchase-button"
            (click)="openConfirmationModal(trajet)"
          >
            Réserver
          </button>
          <button
            class="purchase-button"
            *ngIf="isStaffPage()"
            (click)="openEditTrainModal(trajet)"
          >
            Éditer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
